<!-- change password page, for registered users to change their password

Authors: Ashley Card, Maryia Fralova -->


{% block navBar%}
{% include 'navBar.html' %}
{% endblock %}

{% load static %}
<html lang="en">
<!--{% block title %}Change Password{% endblock %}-->

<head>
    <link rel="stylesheet" href="{% static 'application/stylesheet.css' %}">
    <style>
        .helptext li{
            font-size: 60%;
            text-align: left;
        }

        #register{
            padding: 10px;
        }
    </style>
    <title>Change password</title>
</head>

<body>
    <div class="top">
        <h1> Change Password </h1>
    </div>
    <div class="form-inside">
        <form method="POST" class="form-group" id="register">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn" style="margin-top: 20px;">Save changes</button>
        </form>
    </div>
    

        

</body>

</html>