<!-- change password page, for registered users to change their password

Authors: Ashley Card, Aidan Daniel -->


{% block navBar%}
{% include 'navBar.html' %}
{% endblock %}

{% load static %}
<html lang="en">
<!--{% block title %}Change Password{% endblock %}-->
	<head>
		<link rel="stylesheet" href="{% static 'application/stylesheet.css' %}">
		<style>
          
           
            form {
                color: white;
            }
           
		</style>
		<title>Change password</title>
	</head>

<body>
<h2> Change Password </h2>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save changes</button>
</form>
</body>
</html>
