<!--
    Used to access the javascript that checks if the user is close to a quiz

    Author: James Gower
-->

<!doctype html>

{% block navBar%}
{% include 'navBar.html' %}
{% endblock %}

{% load static %}

<html>
  <head>

    <title>Location checker</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="../static/application/location.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/application/stylesheet.css" />

  </head>

  <body>
    <div class="top">
        <h1>
            Looks like you're not near a quiz location
        </h1>
        <h1>
            Check the Map tab to see where you can find quizes!
        </h1>
    </div>
  </body>

</html> 