<!-- Login page, for registered users to login

Authors: Ashley Card -->


<!DOCTYPE html>
{% block navBar%}
{% include 'navBar.html' %}
{% endblock %}

{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<html lang="en">

  <head>
		<link rel="stylesheet" href="{% static 'application/stylesheet.css' %}">
		<title>Project</title>
	</head>

  <body>

    <div class="top">
			<h1>ExeterNest</h1>
		</div>

    <div class="form-inside">
      <!-- Sign up form -->
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style="margin-top: 20px;">
          <legend class="border-bottom mb-4">Log in</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" style="margin-top: 20px;">Login</button>
        </div>
      </form>
      <!-- Sign in form -->
      <div class="border-top pt-3">
        <small class="text-muted">
          Do you need an account?
          <a class="ml-2" href="{% url 'register' %}">Sign up now</a>
        </small>
      </div>
    </div>
  </body>
</html>
{% endblock content %}