<!-- Login page, for registered users to login

Authors: Ashley Card -->


<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<html lang="en">

  <head>
		<link rel="stylesheet" href="{% static 'application/stylesheet.css' %}">
    <script src="../static/application/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/application/navBar.js"></script>
		<title>Project</title>
	</head>

  <body data-nav-url="{% url 'navBar' %}">

    <div class="top">
			<h1>ExeterNest</h1>
		</div>

    <div class="form-inside">
      <!-- Sign up form -->
      <div class="form-header">
				<h2>Log in</h2>
			</div>
      <form method="POST">
        {% csrf_token %}
        <!-- <fieldset class="form-group" style="margin-top: 20px;">  -->
          <!-- Cannot remove the legend because no fields would be displayed-->
          <legend class="border-bottom mb-4"></legend>
          {{ form|crispy }}
       <!--  </fieldset> -->
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" style="margin-top: 20px;">Login</button>
        </div>
      </form>
      <!-- Sign in form -->
      <div class="border-top pt-3">
        <small class="text-muted">
          Do you need an account?
          <a class="ml-2" href="{% url 'register' %}">Sign up now</a>
        </small>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
<!-- including cookie preferences pop-up -->
{% include "cookiescript.html" %}
