<!-- Map page, where users can see the location of qr codes
    and are able to check if a challenge is available in a certain area

    Authors: Maryia Fralova, James Gower -->

<!doctype html>

{% block navBar%}
{% include 'navBar.html' %}
{% endblock %}

{% load static %}

<html>
  <head>
    <title>Campus map</title>
    <script>
        var challengeNotCompleted = true;
    </script>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="../static/application/map.css" />
    <script type="module" src="../static/application/map.js"></script>
  </head>
  <body>

    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "{{key}}", v: "weekly"});</script>

    {% block content %}

    <div class="top">
			<h1>ExeterNest</h1>
		</div>

    <div id="map"></div>

    <div class="message" id="message-container">Location of today's challenge:</div>

    <!-- Button for checking the ecological challenge -->
    <div style="padding-bottom: 15%; text-align: center">
          <button class="btn" id= "btn-map" onclick="showLocation()"></button>
    </div> 

    <!-- Displaying messages based on what area is clicked-->
    <script>
        function showMessage(message) {
            var messageContainer = document.getElementById('message-container');
            messageContainer.innerText = ''; // Clear previous message
            messageContainer.innerText = message;
            messageContainer.style.display = 'block';
        }

        // True for now but will change based on the function that checks challenge completion status
        var myButton = document.getElementById("btn-map");
        // Set the message based on the boolean value
        if (challengeNotCompleted) {
            myButton.innerText = "Look for today's challenge";
        } else {
            myButton.innerText = "Already completed";
        }

        // Location of the challenge is specified by the admin every day
        // Currently location = Sports park
        let currentLoc = 0;
        function showLocation(){
            var messageContainer = document.getElementById('message-container');
            messageContainer.innerText = ''; // Clear previous message
            messageContainer.innerText = "Location of today's challenge: Sports park";
            messageContainer.style.display = 'block';
        }

      </script>
    {% endblock %}
  </body>
</html>