<!--Makes the correct and wrong answers go the their corresponding page and randomises their

Author: James Gower, Tom Evans -->

<!DOCTYPE html>

{% block navBar%}
{% include 'navBar.html' %}
{% endblock %}

{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'application/stylesheet.css' %}">
    </head>

    <body>

        <div class="top">
			<h1>Quiz</h1>
		</div>

        <div class="question-box">

            <p class="question-p">{{question}}</p>

            <ul class="answers-inside">
                <!-- setting the correct answer to direct the user to the 'correct answer' page,
                and the other three wrong answers to direct to the 'wrong answer' page -->
                <li><a href="/qr/correct" class="answer-a">{{correct_answer}}</a></li>
                <li><a href="/qr/wrong" class="answer-a">{{wrong_1}}</a></li>
                <li><a href="/qr/wrong" class="answer-a">{{wrong_2}}</a></li>
                <li><a href="/qr/wrong" class="answer-a">{{wrong_3}}</a></li>
                
            </ul>

        </div>

        <!-- The following script ensures that the questions are presented in a random order -->
        <script>
            var ul = document.querySelector('ul');
            for (var i = ul.children.length; i >= 0; i--) {
                ul.appendChild(ul.children[Math.random() * i | 0]);
            }
        </script>
    </body>
</html>

