<!--Makes the correct and wrong answers go the their corresponding page and randomises their

Author: James Gower, Tom Evans -->

<!DOCTYPE html>



{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'application/stylesheet.css' %}">
        <script src="../static/application/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../static/application/navBar.js"></script>
    </head>

    <body data-nav-url="{% url 'navBar' %}">

        <div class="top">
			<h1>Quiz</h1>
		</div>

        <div class="question-box">

            <p class="question-p">{{question}}</p>
            
            <ul class="answers-inside">
                <li><a href="/qr/{{link_1}}" class="answer-a">{{answer_1}}</a></li>
                <li><a href="/qr/{{link_2}}" class="answer-a">{{answer_2}}</a></li>
                <li><a href="/qr/{{link_3}}" class="answer-a">{{answer_3}}</a></li>
                <li><a href="/qr/{{link_4}}" class="answer-a">{{answer_4}}</a></li>
                
            </ul>
 
        </div>

       
    </body>
</html>
