<!--

Author: Tom Evans -->

<!DOCTYPE html>
<!-- Include navigation bar to page -->


{% load static %}
<html lang="en"></html>
    <head>
        <link rel="stylesheet" href="{% static 'application/stylesheet.css' %}">
        <script src="../static/application/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../static/application/navBar.js"></script>
        <title>Sign up</title>
    </head>

    <body data-nav-url="{% url 'navBar' %}">
        <!--<p>This is the first page of the qr functionality.</p>-->
        <div class="top">
            <h1>ExeterNest</h1>
        </div>

        <div class="scanner-link-box">
            <ul style="list-style-type: none;">
                <li><a href="/qr/" class="qr-a">Click here and scan a qr code</a></li>
            </ul>
        </div>
    </body>
</html>
