body {
	background: url("pages-background.png") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	margin: 0;
	color: #003c3c;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
	/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);  Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.top h1{
	font-family: 'Verdana', serif;
	font-weight: 300;
	font-size: 3.2em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 10%;
	max-width: 70%;
	text-align: center;
	position: relative;
}

/* home.html */
.home-box{
	background-color: rgb(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #fff 0%, #cdd4ee 100%);
	margin: 5% 20%;
	font-size: 120%;
    font-weight: 300;
	transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: 'Roboto', sans-serif;
	text-align: center; 
   	line-height: 1.6;
}
 
 .home-box:hover {
	background-color: rgb(255, 255, 255, 0.9);
	box-shadow: 0 5px 60px rgba(0, 0, 0, 0.6);
	transform: scale(1.02); 
 }

 .image-container{
	display: flex;
	justify-content: center;
	margin-top: 15px;
 }

 .image-container img {
	width: 100px;
	height: auto;
	margin: 0 10px;
  }
 

/* Specifically for registration/login */
.form-inside {
    background-color: white;
	max-width: 50%;
	margin: 0 auto 100px auto;
	position: relative;
	top: 10%;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    font-size: 150%;
    font-weight: 300;
	text-align: center;
}

.form-inside .form-header {
	background-color: #003c3c;
	margin-top: 0;
}

.form-inside .form-header h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

.form-inside button{
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 2%;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #003c3c;
	cursor:pointer;
	outline: none;
}

.form-inside button:hover{
	opacity: 0.7;
	transition: 0.5s;
}


/* Specifically for map.html */
.map-box{
	max-width: 100%;
	margin: 10px auto 50px auto;
	position: relative;
}

#map{
	width: 100%;
	height: auto;
}

#location-box {
	top: 0%;
}

.btn{
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 2%;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #003c3c;
	cursor:pointer;
	outline: none;
}

.btn:hover{
	opacity: 0.7;
	transition: 0.5s;
}

#message-container{
	font-size: 150%;
    font-weight: 300;
	text-align: center;
	color:#003c3c;
	margin-bottom: 20px;
}

#selected-avatar-preview{
	width: 50%;
}


/* Specific for scan.html */
.scanner-link-box{
	font-weight: 400;
	font-size: 2em;
	letter-spacing: 1px;
	text-align: center;
	margin: 50px;
}

.qr-a:link {color: #4CAF50; text-decoration: none;}
.qr-a:visited {color: #003c3c; text-decoration: none;}
.qr-a:hover {text-decoration: underline;}


/* Leaderboard specific code */
#table{
	text-align: center;
	font-size: 1.5em;
	width: 80%;
	margin:auto;
}

#leaderboard-bird{
	width: 50px;
	height: 50px;
}

.td-leader{
	width: 25%;
}


/* Questions styling */
.question-box{
	background-color: white;
	max-width: 50%;
	margin: 20px auto 100px auto;
	position: relative;
	top: 10%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    font-weight: 300;
}

.question-p{
	color: #4CAF50;
	font-size: 150%;
	text-align: center;
}

.answers-inside{
	font-size: 150%;
}

.answer-a{
	color: #003c3c; 
	text-decoration: none;
}

.answer-a:hover {
	text-decoration: underline;
	color: #4CAF50;
}


/* profile.html */
.profile-box{
	background-color: rgb(255, 255, 255, 0.7);
	border-radius: 5px;
	background: linear-gradient(to bottom, #fff 0%, #cdd4ee 100%);
	font-size: 120%;
    font-weight: 300;
	transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: 'Roboto', sans-serif;
	text-align: center; 
   	line-height: 1.6;
}
 
 .profile-box:hover {
	background-color: rgb(255, 255, 255, 0.9);
	box-shadow: 0 5px 60px rgba(0, 0, 0, 0.6);
	transform: scale(1.02); 
 }

 .prof-buttons{
	text-align: center;
}

.prof-btn{
	width: 15%;
	margin: 5%;
}