@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('./aerialforum.jpg');
  background-size: cover;
}*/

.banner {
  /*position: absolute;*/
  top: 50px;
  left: 50%;
  /*transform: translateX(-50%);*/
  text-align: center;
  padding: 20px;
  /*z-index: 1;*/
}

.banner h2 {

  color: #00441B;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

.container {
  width: 50%;
  border-radius: 7px;
  background: rgba(256, 256, 255, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  margin: 120px auto 20px;
  padding: 30px;
  position: relative;
}

.container h2 {
  font-size: 40px;
  font-weight: 500;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
  color: #00441B; /* Dark green text color */
}

.game-description {
  font-size: 18px;
  color: #00441B; /* Dark green text color */
  margin-bottom: 20px;
}

.content {
  margin: 25px 20px 35px;
}

.content .word {
  user-select: none;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 24px;
  margin-right: -24px;
  word-break: break-all;
  text-transform: uppercase;
}

.content .details {
  margin: 25px 0 20px;
}

.details p {
  font-size: 14px;
  margin-bottom: 10px;
}

.details p b {
  font-weight: 500;
}

.content input {
  width: 50%;
  height: 60px;
  outline: none;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

.content input:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.content input::placeholder {
  color: #aaa;
}

.content input:focus::placeholder {
  color: #bfbfbf;
}

.content .buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  justify-content: space-between;
}

.buttons button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  flex-basis: 100%;
  transition: all 0.3s ease;
}
 .restart-game{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    border-radius: 5px;
    flex-basis: 100%;
    transition: all 0.3s ease;
  }

.buttons button:active {
  transform: scale(0.97);
}

.buttons .refresh-word {
  background: #5372F0;
}

.buttons .refresh-word:hover {
  background: #2c52ed;
}

.buttons .check-word {
  background: #5372F0;
}

.buttons .check-word:hover {
  background: #2c52ed;
}

.restart-game{
    background:#5372F0;
}

.restart-game:hover {
    background: #2c52ed;
  }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6bf053;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup p {
  margin: 0;
}

.invisible {
  display: none;
}

@media screen and (max-width: 470px) {
  .container h2 {
    font-size: 22px;
    padding: 13px 20px;
  }

  .game-description {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .content .word {
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }

  .container .content {
    margin: 20px 20px 30px;
  }

  .details p {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .content input {
    height: 55px;
    font-size: 17px;
  }

  .buttons button {
    padding: 14px 0;
    font-size: 16px;
    width: calc(100% / 2 - 7px);
  }
}
